{{ partial "header.html" . }}
{{ partial "page_title.html" . }}
<link href='{{ "dist/bb.min.css" | absURL}}' rel="stylesheet"/>
<script type="text/javascript" src='{{ "dist/bb.min.js" | absURL}}'></script>
<div class="ph3 ph4-m ph5-l ">
  <section class="pv5 bg-near-white ph3 ph4-m ph5-l">
    <div class="w-100 tc f4 tj dark-gray">
      {{.Content}}
    </div>
  </section>
    <h2 class="w-100 f1 tc navy">AWARDS</h2>
  <main class="flex items-stretch items-start flex-wrap pb1 gallery">
    {{ range .Site.Data.awards.awards }}
    <div class="ph3 w-100 w-third-m w-25-l mb5 tc">
     <a href="{{ (trim .image "/") | absURL }}" class="block mb2 ">
          <div class="square"><div class="content" style="background-image:url('{{ (trim .image "/") | absURL }}')"></div></div>
          </a>
    </div>
    {{ end }}
  </main>
</div>
{{ partial "footer-brand.html" . }}
{{ partial "footer.html" . }}

<script>
 baguetteBox.run('.gallery');
</script>

