{{ partial "header.html" . }}
{{ partial "page_title.html" . }}
<script src="https://cdn.polyfill.io/v2/polyfill.min.js"></script>
  <div class="ph3 ph4-m ph5-l">
    <main class="flex items-stretch items-start flex-wrap pb1">
      <h2 class="w-100 f1 tc black ttu">Awards</h2>
      <div class="content w-100 mb3">
        {{ .Content }}
      </div>
      {{ range .Site.Data.awards.awards }}
      <article class="br2 mv4 w-100 w-50-m w-25-l mw5 center">
        <div class="aspect-ratio aspect-ratio--16x9 br2 br--top w-100 overflow-hidden z-1">
          <div class="aspect-ratio--object contain bg-center grow" style="background-image: url('{{ ( trim .image "/" ) | absURL}}')"></div>
        </div>
        <hr class="mw3 bb bw1 b--black-10">
        <div class="pa2 ph3-ns pb3-ns">
          <p class="f6 lh-copy measure mt2 pv3 ph3 f5 b green ttu tracked tc">
            {{ .name}}
          </p>
        </div>
      </article>
      {{ end }} 
    </main>
  </div>
{{ partial "footer.html" . }}
