{{ partial "header.html" . }}
{{ partial "page_title.html" . }}
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDOp_b26dWumYiB9Pc3EwrC-FEPP2CkgGk" data-turbolinks-eval="false"></script>
  <div class="ph3 ph4-m ph5-l flex items-stretch items-start flex-wrap flex-nowrap-l pb5">
      <main class="pr4-l w-100 w-40-l">
        <address class="mb4 fs-normal">
          <h3>{{.Params.business_name}}</h3>
          <h3 class="navy ttu tracked tc bb">{{.Params.business_location_one}}</h3>
          <div>{{ replace .Params.address_one "\n" "<br>" | safeHTML }}</div>
          <div>Tel: {{.Params.phone_one}}</div>
          <div>Fax: {{.Params.Fax_one}}</div>
          <div>Email: <a href="mailto:{{.Params.email}}">{{.Params.email_one}}</a></div>
        </address>
        <address class="mb4 fs-normal">
          <h3 class="navy ttu tracked tc bb">{{.Params.business_location_two}}</h3>
          <div>{{ replace .Params.address_two "\n" "<br>" | safeHTML }}</div>
          <div>Tel: {{.Params.phone_two}}</div>
          <div>Fax: {{.Params.Fax_two}}</div>
          <div>Email: <a href="mailto:{{.Params.email}}">{{.Params.email_two}}</a></div>
        </address>
        <div class="content">
          {{ .Content }}
        </div>
        <form name="contact" netlify class="w-100 mb5">
          <label class="db ttu tracked gray b mb1 f6">Name</label>
          <input name="name" id="name" type="text" class="input-reset bn bg-near-white pa3 br2 gray db w-100 mb3" required>
          <label class="db ttu tracked gray b mb1 f6">Email</label>
          <input name= "email" id="email" type="email" class="input-reset bn bg-near-white pa3 br2 gray db w-100 mb3" required>
          <label class="db ttu tracked gray b mb1 f6">Contact No</label>
          <input name="contact_no" id="contact_no" type="text" class="input-reset bn bg-near-white pa3 br2 gray db w-100 mb3" required>
          <label class="db ttu tracked gray b mb1 f6">Comments</label>
          <textarea name="comments" id= "comments" rows="4" class="input-reset bn bg-near-white pa3 br2 gray db w-100 mb3" required></textarea>
          <label class="db ttu tracked gray b mb1 f6">Product Description Interested In</label>
          <textarea name="product_description" id= "product_description" rows="4" class="input-reset bn bg-near-white pa3 br2 gray db w-100 mb3" required></textarea>
          <button type="submit" class="bn pa3 bg-navy white hover-bg-navy b ttu tracked br2">Submit</button>
        </form>
      </main>
      <aside class="pr3-m pr4-l w-100 w-60-l bg-near-white ba bw1 b--black-20 mb5" id="map-canvas" style="min-height: 360px;">
      </aside>
  </div>
  <script>
 function initialize() {
   var gmc = {{.Params.google_map_coordinates}}
   var myLatlng = new google.maps.LatLng(gmc.split(",")[0], gmc.split(",")[1]);
   var mapOptions = {
     center: myLatlng,
     zoom: 18,
     scrollwheel: false,
     styles: [{
       featureType: 'all',
       stylers: [{
         hue: '#001B44'
       },
                 {
                   saturation: 70
                 }
       ]
     }, {
       featureType: 'road.arterial',
       elementType: 'geometry',
       stylers: [{
         hue: '#0d2d62'
       },
                 {
                   saturation: 90
                 }
       ]
     }, {
       featureType: 'poi.business',
       elementType: 'labels',
       stylers: [{
         visibility: 'off'
       }]
     }]
   };
   var map = new google.maps.Map(document.getElementById('map-canvas'),
                                 mapOptions);
   var marker = new google.maps.Marker({
     position: myLatlng,
     map: map
   });
 }
 google.maps.event.addDomListener(window, 'load', initialize);
 google.maps.event.addDomListener(window, 'page:load', initialize);
</script>

{{ partial "footer-brand.html" . }}
{{ partial "footer.html" . }}
