{{ partial "header.html" . }}
<script src="{{ "js/siema.min.js" | absURL }}"></script>
<div class="siema">
  {{ range .Params.slides }}
  <div class="twentyone-nine"><div class="content" style="background-image: url('{{ (trim .image "/") | absURL }}')"></div></div>
  {{ end }}
</div>
<section class="pv5 bg-near-white ph3 ph4-m ph5-l">
  <h2 class="f2 f1-ns w-100 f1 tc black ttu mt0">About</h2>
  {{ partial "separator.html" . }}
  <div class="w-90 w-70-ns tc center f4 tj dark-gray">
    {{.Content}}
    {{ range .Params.links }}
    <a href="{{ .link }}" class="link ba b--dark-blue bg-white ph2 pv1 br2 dark-blue hover-bg-dark-blue hover-white bw1 dib mv2">Read More</a>
    {{ end }}
  </div>
</section>
{{ partial "footer-brand.html" . }}
{{ partial "footer.html" . }}
<script>
if(siema_interval){
clearInterval(siema_interval)
}
var mySiema=new Siema({duration:250,loop:true,});
var siema_interval = setInterval(()=>mySiema.next(),5000)
</script>