<footer>
<div class="bg-navy ph3 ph5-ns pv4">
    <div class="flex items-start flex-wrap nl2 nr2 justify-start">
      <div class="w-100 w-20-m w-10-l ph2 mb3">
        <div class="bg-white br2 pa2">
          <a href="/" class="link"><img src="{{ (trim .Site.Data.meta.logo "/") | absURL }}" alt="SNTES"></a>
        </div>
      </div>
      <div class="w-100 w-60-m w-50-l ph2 mb3">
        {{ with .Site.GetPage "section" "contact" }}
        <address class="fs-normal white lh-copy">
          <h3 class="mt0">{{.Params.business_name}}</h3>
          <div>{{ replace .Params.address_one "\n" "<br>" | safeHTML }}</div>
          <div>Tel: {{.Params.phone_one}}</div>
          <div>Email: <a href="mailto:{{.Params.email}}" class="white">{{.Params.email_one}}</a></div>
        </address>
        {{ end }}
      </div>
      <div class="w-100 w-40-l ph2 mb3 tc tl-m tr-l">
        <a href="https://www.facebook.com/adibainfotech/" target="_blank" class="dib link br2  mv3 pa2 ba bw1 b--white white bg-transparent hover-navy hover-bg-white">Follow us on Facebook</a>
      </div>
    </div>
  </div>
<div class="bg-dark-blue ph3 ph5-ns pv3">
  <div class="flex items-start">
    <div class="white-70 flex-auto">&copy SHREE NURSING TIMBER & ELECTRIC STORE {{dateFormat "2006" now }}
    </div>
    <div class="white f6">
      Powered by <a href="http://slicedmango.com" class="white-80">Sliced Mango</a>
    </div>
  </div>
</div>
</footer>
<script>
  var toggle_mobile_menu = function(){
    document.getElementById("mobile_nav").classList.toggle("dn")
  }
  if (window.netlifyIdentity) {
    window.netlifyIdentity.on("init", user => {
      if (!user) {
        window.netlifyIdentity.on("login", () => {
          document.location.href = "/admin/";
        });
      }
    });
  }
</script>
</body>
</html>
