{{/* Get the current page's URL so we can compare it to the list below */}}
{{ $currentPageUrl := .URL }}
{{/* Get a list of this section's other pages. "RegularPages" excludes the list page    */}}
{{ $required_section := .Section }}
{{ $required_parent := .Parent }}
{{ $currentSection := ( index .Site.Pages ) }}
{{ $all_pages := .Site.Pages }}
{{/* Get the number of entries of  $currentSection and subtract 1 */}}
{{ $i := sub ($currentSection | len) 1 }}
{{/* So we can only show this menu if there are one or more other entries  */}}
{{ if ge $i 1 }}
<div class="w-100 w-30-m w-30-l br2 mr4-l">
	<div class="bb bw1 pa2 red">
		<a href="/products" class="link f6 f3-ns ttu tracked navy b">Products</a>
	</div>
	<ul class="list-reset mb3 pl0" style="list-style: none;">
		{{ range $currentSection }}
		{{if eq .Parent $required_parent }}
		{{ $required_title := .Title }}
		
		<li>
			<i class="fa fa-caret-right absolute left-2 pv3 ph3 " aria-hidden="true" onclick="myFunction({{index ($required_title)}})"></i>
			
			<a href="{{ .URL }}" class="sidelink{{ if eq $currentPageUrl .URL }} active{{end}} link navy caps">
				{{ $required_title }}
			</a>
			{{ range $all_pages }}
			{{ if .Parent}}
			{{if eq .Parent.Title $required_title}}
			<ul style="list-style: none;">
				<li>
					<div id= {{ index ($required_title)}} style="display: none"> <a href="{{ .URL }}" class="link navy caps">{{ .Title }}</a> </div>
				</li>
			</ul>
			{{ end }}
			{{ end }}
			{{ end }}	
		</li>
		{{ end }}
		{{ end }}
	</ul>
</div>
{{ end }}
<!-- <script>
function myFunction($data) {
	
var x = document.getElementById($data);
if (x.style.display === "none") {
x.style.display = "block";
} else {
x.style.display = "none";
}
}
</script> -->