{{ partial "header.html" . }}
{{ partial "page_title.html" . }}
<div class="flex items-start items-stretch flex-wrap px2 md-px4 pt4">
  <article class="col-12 md-col-9 pl0 md-pr3 mb4">
    <div class="bg-white rounded">
      <header class=" mb2 px2 md-px4 pb2 pt3">
        <h1 class="mt0 navy border-left border-red pl2" style="border-width:5px;">
          {{ .Title }}
        </h1>
      </header>
      <div class="twentyone-nine"><div class="content" style="background-image: url({{(trim .Site.Params.featured_image "/") | absURL}})"></div></div>
      
      <div class="px2 md-px4 pb4 pt2 justify overflow-auto">
        {{ .Content }}
      </div>
    </div>
  </article>
  <aside class="col-12 md-col-3 mb3">
    {{ partial "menu-contextual.html" . }}
  </aside>
</div>
{{ partial "footer.html"}}

